input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



.bgcolor, html {
    background-color:rgb(236, 236, 236);
}

#submit {
    border-radius: 5px;
}